@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
a:visited {
	color: #0000EE;
}
body {
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	font-size: 18px;
}
div.cmty-view-post-item-text {
	font-size: 1em;
	margin: 0 auto;
	width: 74.66666666666666666667em;
}
p {
	font-size: 1em;
	margin: 0 auto;
	width: 74.66666666666666666667em;
}
h2 {
	font-size: 1.55555555556em;
	margin-left: auto;
	margin-right: auto;
	width: 47.99999999em;
}
li {
	font-size: 1em;
}
iframe {
	max-width: 100%;
}
img.latexcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
}
img.asy-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
}
@media screen and (max-width: 850px) {
	body {
		font-size: 14px;
	}
}
@media screen and (max-width: 1344px) {
	div.cmty-view-post-item-text {
		width: 100%;
	}
	p {
		width: 100%;
	}
	h2 {
		width: 100%;
	}
}
	
@media screen and (min-width: 2400px) {
	body {
		font-size: 26px;
	}
}
