@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
	color: white;
	font-weight: 400;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	background-color: #52077a;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-weight: 400;
	font-size: 50px;
}
h2 {
	font-weight: 400;
	font-size: 40px;
}
h3 {
	font-weight: 400;
	font-size: 30px;
}
h3.blank {
	color = white;
}
h3.correct {
	color: #42ff7b;
}
h3.wrong {
	color: #ff1212;
}
b {
	font-weight: 700;
}
p {
	font-weight: 400;
}
a:link {
	color: #e69a8dff;
 	background-color: transparent;
  	text-decoration: underline;
}
a:visited {
  	color: #51c0f0;
  	background-color: transparent;
  	text-decoration: underline;
}
a:hover {
  	color: #f0cb51;
  	background-color: transparent;
  	text-decoration: underline;
}
a:active {
  	color: yellow;
  	background-color: transparent;
  	text-decoration: underline;
}
a:link.sol {
	color: #fccd32;
}
a:link.sol:hover {
	color: #f0cb51;
}
a:link.button {
	border: none;
	color: white;
	padding: 15px 32px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #e69a8dff;
}
a:link.button:hover {
	background-color: lightCoral;
}
a:link.clearButton {
	border: 3px solid white;
	background-color: transparent;
	padding: 10px 20px;
}
a:link.clearButton:hover {
	background-color: hsla(240, 50%, 80%, 0.5);
}
button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #e69a8dff;
}
button:hover {
	background-color: lightCoral;
}
button.submitbtn {
	font-size: 18px;
	padding: 10px 25px;
}
button.getproblems {
	font-size: 28px;
}
.header {
	margin: 0 auto;
	max-width: 95%;
	background-color: #e69a8dff;
}
.wrapper {
	margin: 0 auto;
	max-width: 80%;
}
.selectordiv {
	padding: 30px;
	background-color: purple;
	border-style: solid;
	border-color: white;
	text-align: left;
}
.goals {
	background-image: url("images/spacex.jpg");
	min-height: 400px;
	background-size: cover;
	text-shadow: 1px 1px 5px black;
}
.smaller {
	max-width: 800px;
	margin: 0 auto;
}
.dont-break {
	overflow-wrap: break-word;
	word-wrap: break-word;
}
input.largercheckbox {
	transform : scale(1.5);
}

main {
	display: grid;
	max-width: 900px;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 450px);
	grid-gap: 0px;
}
